body {
  font-family: 'DM Sans', sans-serif !important;
}
img {
  display: block;
  max-width: 100%;
}
button {
  border: 0;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
html {
  scroll-behavior: smooth;
}
