/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
// @import './example';
@import './base/common';
@import './base/modern-normalize';
@import './utils/mixins';
@import './utils/vars';
@import './components/container';
@import './components/scroll-up';
@import './layout/header';
@import './layout/hero';
@import './layout/about';
@import './layout/advantages';
@import './layout/gallery';
@import './layout/customer_reviews';
@import './layout/contacts';
@import './layout/footer';
@import './layout/products';

@import './layout/slider';