@mixin tel {
    @media screen and (min-width: 320px) {
        @content;
    }
}

@mixin tab {
    @media screen and (min-width: 734px) {
        @content;
    }
}

@mixin desk {
    @media screen and (min-width: 1275px) {
        @content;
    }
}

@mixin font($fs, $fw, $lh, $ls) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
}