$primary-color-text: #d41443;
$second-color-text: #ffa5ba;

$text-color: #000;
$second-text-color: #907e82;

$background-color-1: #ffb8ca;
$background-color-2: #f0d1a5;
$background-color-3: #c2e297;
$grey-background-color: #fafafa;
