<section class="about"  id="about">
  <div class="container">
    <section class="section">
      <div class="how-its-made">
        <span class="how-its-made__span"> tradition and love </span>
        <h2 class="how-its-made__tittle">how it’s made?</h2>
        <div class="intruduction">
          <picture>
            <source
              srcset="
                ./images/img/about/how-its-made-dt.png      1x,
                ./images/img/about/how-its-made-dt-rt2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/img/about/how-its-made-tb.png      1x,
                ./images/img/about/how-its-made-tb-rt2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/img/about/how-its-made-mb.png      1x,
                ./images/img/about/how-its-made-mb-rt2x.png 2x
              "
              media="(min-width: 480px)"
            />
            <img class="img-cow" src="./images/img/about/how-its-made-dt.png" alt="korova" />
          </picture>

          <div class="how-its-made-info">
            <div class="reciept">
              <p class="hreciept-text">
                Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
                faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
              </p>
            </div>
            <div class="process">
              <p class="process-text">
                Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
                rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula
                volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
              </p>
              <p class="process-text-end">Aliquam erat volutpat. Aenean accumsan.</p>
            </div>
            <button type="button" class="button-style">
              <span class="cbutton-style__text">Read more</span>
              <svg class="contacts-btn-svg" width="6px" height="9px">
                <use href="./images/svg/icons.svg#icon-cont-btn-r"></use>
              </svg>
          </div>
        </div>
      </div>
  </div>
</section>

