<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages_ul">
      <li class="advantages__box">
        <picture>
          <source srcset="
      ./images/img/advantages/bucket-milk.png 1x,
      ./images/img/advantages/bucket-milk2x.png 2x">
          <img src="./images/img/advantages/bucket-milk.png" alt="Ведро молока" class="icon__milk">
        </picture>
        <div class="advantages__thumb">
          <span class="advantages__subtitle">721</span>
          <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
      </li>
      <li class="advantages__box">
        <picture>
          <source srcset="
              ./images/img/advantages/bucket-apple.png 1x,
              ./images/img/advantages/bucket-apple2x.png 2x">
          <img src="./images/img/advantages/bucket-apple.png" alt="Ведро яблук" class="icon__milk">
        </picture>
        <div class="advantages__thumb">
          <span class="advantages__subtitle">16KG</span>
          <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
      </li>
      <li class="advantages__box">
        <picture>
          <source srcset="
                  ./images/img/advantages/icemilk.png 1x,
                  ./images/img/advantages/icemilk2x.png 2x">
          <img src="./images/img/advantages/icemilk.png" alt="Молочное яблоко" class="icon__milk">
        </picture>
        <div class="advantages__thumb">
          <span class="advantages__subtitle">84</span>
          <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
      </li>
    </ul>
  </div>
</section>