<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts-card-list">
      <li class="contacts-card">
        <ul>
          <li class="contacts-card-name">CAFE</li>
          <li class="contacts-card-city">
            <ul>
              <li class="contacts-card-town">Chicago</li>
              <li class="contacts-card-item">
                Fusce ut velit laoreet, tempus arcu molestie vulputate
              </li>
            </ul>
          </li>
          <li class="contacts-card-time">
            <ul class="contacts-card-time-list">
              <li class="contacts-card-day">Monday - Friday</li>
              <li class="contacts-card-hours">06:00 AM - 10:00 PM</li>
              <li class="contacts-card-day">Saturday - Sunday</li>
              <li class="contacts-card-hours">08:00 AM - 16:00 PM</li>
            </ul>
          </li>
          <li class="contacts-card-contacts">
            <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts-card">
        <ul>
          <li class="contacts-card-name-la">FOODTRUCK</li>
          <li class="contacts-card-city">
            <ul>
              <li class="contacts-card-town">Los Angeles</li>
              <li class="contacts-card-item">
                Fusce ut velit laoreet, tempus arcu molestie vulputate
              </li>
            </ul>
          </li>
          <li class="contacts-card-time">
            <ul class="contacts-card-time-list">
              <li class="contacts-card-day">Monday - Friday</li>
              <li class="contacts-card-hours">06:00 AM - 10:00 PM</li>
              <li class="contacts-card-day">Saturday - Sunday</li>
              <li class="contacts-card-hours">08:00 AM - 16:00 PM</li>
            </ul>
          </li>
          <li class="contacts-card-contacts">
            <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts-card">
        <ul>
          <li class="contacts-card-name">CAFE</li>
          <li class="contacts-card-city">
            <ul>
              <li class="contacts-card-town">New York</li>
              <li class="contacts-card-item">
                Fusce ut velit laoreet, tempus arcu molestie vulputate
              </li>
            </ul>
          </li>
          <li class="contacts-card-time">
            <ul class="contacts-card-time-list">
              <li class="contacts-card-day">Monday - Friday</li>
              <li class="contacts-card-hours">06:00 AM - 10:00 PM</li>
              <li class="contacts-card-day">Saturday - Sunday</li>
              <li class="contacts-card-hours">08:00 AM - 16:00 PM</li>
            </ul>
          </li>
          <li class="contacts-card-contacts">
            <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts-list">
      <li class="contacts-list-btn">
        <button type="button" class="contacts-btn contacts-btn-location">
          <span class="contacts-btn-name">Our Locations</span>
          <svg class="contacts-btn-svg" width="6px" height="9px">
            <use href="./images/svg/icons.svg#icon-cont-btn-w"></use>
          </svg>
        </button>
      </li>
      <li class="contacts-list-btn">
        <button type="button" class="contacts-btn contacts-btn-franchise">
          <span class="contacts-btn-name">Franchise</span>
          <svg class="contacts-btn-svg" width="6px" height="9px">
            <use href="./images/svg/icons.svg#icon-cont-btn-r"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
