<section class="customer_reviews">
  <div class="container">
    <h3 class="visually-hidden">Customer Revievs</h3>
    <div class="reviews">
      <ul class="reviews__custom">
        <li class="reviews__card">
          <img class="reviews__img" src="" alt="">
          <div class="reviews__description-wrapper">
              <p class="reviews__description"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus. </p>
          </div>
          <p class="reviews__who">Emily, Los Angeles</p>
        </li>
      </ul>
    </div>
  </div>
</section>
