<section class="customer_reviews">
  <h3 class="hidden">Customer Revievs</h3>
  <div class="container">
    <li class="reviews__card">
      <img class="reviews__img" src="" alt="">
      <p class="reviews__description"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
        hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus. </p>
        <p class="reviews__who">Emily, Los Angeles</p>
    </li>
    <li class="reviews__card">
      <img class="reviews__img" src="" alt="">
      <p class="reviews__description"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. </p>
      <p class="reviews__who">Loraine, Chicago</p>
    </li>
    <li class="reviews__card">
      <img class="reviews__img" src="" alt="">
      <p class="reviews__description"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. </p>
      <p class="reviews__who">Jane, St. Louis</p>
    </li>
  </div>
</section>
