<section class="customer_reviews">
  <div class="container">
    <h3 class="visually-hidden">Customer Revievs</h3>
    <div class="reviews">
      <ul class="reviews__custom">
        <li class="reviews__card">
          <img class="reviews__img" src="./images/img/customer_reviews/emily1.jpg" alt="">
          <div class="reviews__description-wrapper">
              <p class="reviews__description"> 
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus. </p>
          </div>
          <p class="reviews__who">Emily, Los Angeles</p>
        </li>
      </ul>
    </div>
  </div>
</section>
<br />
<div class="reviews slider">
  <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav" />
  <input type="radio" name="slider" title="slide2" class="slider__nav" />
  <input type="radio" name="slider" title="slide3" class="slider__nav" />
  <div class="slider__inner">
    <div class="slider__contents">
      <img src="./images/img/customer_reviews/emily1.jpg" />
      <div class="reviews__description-wrapper">
        <p class="reviews__description">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <h2 class="reviews__who slider__caption">Emily, Los Angeles</h2>
    </div>
    <div class="slider__contents">
      <img src="./images/img/customer_reviews/loraine2.jpg" />
      <div class="reviews__description-wrapper">
        <p class="reviews__description">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <h2 class="reviews__who slider__caption">Loraine, Boston</h2>
    </div>
    <div class="slider__contents">
      <i class="slider__image"></i>
      <img src="./images/img/customer_reviews/jane3.jpg" />
      <div class="reviews__description-wrapper">
        <p class="reviews__description">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <h2 class="reviews__who slider__caption">Jane, Kyiv</h2>
    </div>
  </div>
</div>

