<section class="footer">
  <div class="container footer--container">
    <div class="footer__left">
      <a href="./index.html" class="footer__logo">
        <h3 class="footer__logo-top">homemade ice cream made</h3>
        <h2 class="footer__logo-bottom">with passion</h2>
      </a>
    </div>
    <div class="footer__right">
      <ul class="social__list">
        <li class="social__item">
          <a
            href="https://github.com"
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="social__link social__link--footer"
            ><svg class="social__icon">
              <use href="./images/svg/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a
            href="https://web.telegram.org"
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="social__link social__link--footer"
            ><svg class="social__icon">
              <use href="./images/svg/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a
            href="https://www.facebook.com"
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="social__link social__link--footer"
            ><svg class="social__icon">
              <use href="./images/svg/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>

      <p class="footer__text">
        Feel free to contact
        <a href="tel:+610383766284" class="footer__tel"> +61 (0) 383 766 284</a>
      </p>
    </div>
  </div>
  <div class="licence">
    <div class="container">
      <div class="licence__top">
        <p class="licence__text">© 2022 - IceCream. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</section>
