<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="visually-hidden">Самое вкусное мороженное рожок</h2>
    <!--Оболонка для демонстрації-->
    <div class="gallary__wrapper">
      <!--Контент-->
      <div class="gallary__content">
        <div class="grid">
          <ul class="gallary__grid">
              <li class="gallary__grid-item">
                <img src="./images/img/gallery/foto-1.jpg" alt="">
              </li>
              <li class="gallary__grid-item">
                <img src="./images/img/gallery/foto-2.jpg" alt="">
              </li>
              <li class="gallary__grid-item">
                <img src="./images/img/gallery/foto-3.jpg" alt="">
              </li>
              <li class="gallary__grid-item">
                <img src="./images/img/gallery/foto-4.jpg" alt="">
              </li>
              <li class="gallary__grid-item">
                <img src="./images/img/gallery/foto-5.jpg" alt="">
              </li>
              <li class="gallary__grid-item">
                <img src="./images/img/gallery/foto-6.jpg" alt="">
              </li>
              <li class="gallary__grid-item">
                <img src="./images/img/gallery/foto-7.jpg" alt="">
              </li>
              <li class="gallary__grid-item">
                <img src="./images/img/gallery/foto-8.jpg" alt="">
              </li>
              <li class="gallary__grid-item">
                <img src="./images/img/gallery/foto-9.jpg" alt="">
              </li>
              <li class="gallary__grid-item">
                <img src="./images/img/gallery/foto-10.jpg" alt="">
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<!-----Gallary PNG------>
<!-- <picture>
      <source
        srcset="
          ./images/img/gallery/gallary-desc.png    1x,
          ./images/img/gallery/gallary-desc-2x.png 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="./images/img/gallery/gallary-tab.png 1x, ./images/img/gallery/gallary-tab-2x.png 2x"
        media="(min-width:768px)"
      />
      <source
        srcset="./images/img/gallery/gallary-mob.png 1x, ./images/img/gallery/gallary-mob-2x.png 2x"
        media="(min-width:320px)"
      />
      <img
        src="./images/img/gallery/gallary-desc.png"
        lang="en"
        alt="Ice Cream Photo Gallery"
        class="gallery-img"
      />
    </picture> -->