<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Самое вкусное мороженное рожок</h2>
    <picture>
      <source srcset="./images/img/gallery/gallary-desc.jpg 1x, ./images/img/gallery/gallary-desc-2x.jpg 2x" media="(min-width:1200px)" />
      <source srcset="./images/img/gallery/gallary-tab.jpg 1x, ./images/img/gallery/gallary-tab-2x.jpg 2x" media="(min-width:768px)" />
      <source srcset="./images/img/gallery/gallary-mob.jpg 1x, ./images/img/gallery/gallary-mob-2x.jpg 2x" media="(min-width:320px)" />
      <img src="./images/img/gallery/gallary-desc.jpg" lang="en" alt="ice cream" class="gallery-img" />
    </picture>
  </div>
</section>
