<header class="header">
  <div class="container header-container">
    <img src="./images/img/header/logo.png" alt="Главный логотип" />
    <button type="button" class="header-menu__button">
      <svg width="24px" height="12px">
        <use href="./images/svg/icons.svg#icon-Burger"></use>
      </svg>
    </button>
    <nav class="header-nav">
      <ul class="site-nav">
        <li class="site-nav__items">
          <a class="site-nav__link" href="./index.html">Home</a>
        </li>
        <li class="site-nav__items">
          <a class="site-nav__link" href="">About us</a>
        </li>
        <li class="site-nav__items"><a class="site-nav__link" href="">How it’s made?</a></li>
        <li class="site-nav__items"><a class="site-nav__link" href="#products">Our products</a></li>
        <li class="site-nav__items"><a class="site-nav__link" href="">Contact</a></li>
      </ul>
    </nav>
    <button class="header-buy__button">Buy now ></button>
  </div>
</header>
