<header class="header">
  <div class="container header-container">
    <img src="./images/img/header/logo.png" alt="Главный логотип" />
    <div class="container-menu" data-menu>
      <button type="button" class="header-buy__button-menu">Buy now ></button>
      <nav>
        <ul class="site-nav__mobile">
          <li class="site-nav__mobile-list">
            <a class="site-nav__mobile-link" href="./index.html">Home</a>
          </li>
          <li class="site-nav__mobile-list">
            <a class="site-nav__mobile-link" href="#gallery">About us</a>
          </li>
          <li class="site-nav__mobile-list">
            <a class="site-nav__mobile-link" href="#about">How it’s made?</a>
          </li>
          <li class="site-nav__mobile-list">
            <a class="site-nav__mobile-link" href="#products">Our products</a>
          </li>
          <li class="site-nav__mobile-list">
            <a class="site-nav__mobile-link" href="#contacts">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <button type="button" class="menu-open-btn is-open" aria-expanded="false" data-menu-button>
      <svg
        width="24px"
        height="12px"
        class="menu-open-btn__icon menu-icon__open"
        aria-label="Переключатель мобильного меню"
      >
        <use href="./images/svg/icons.svg#icon-Burger"></use>
      </svg>
      <svg width="14px" height="14px" class="menu-icon__close">
        <use href="./images/svg/icons.svg#icon-vector"></use>
      </svg>
    </button>

    <nav class="header-nav">
      <ul class="site-nav">
        <li class="site-nav__items">
          <a class="site-nav__link" href="./index.html">Home</a>
        </li>
        <li class="site-nav__items">
          <a class="site-nav__link" href="#gallery">About us</a>
        </li>
        <li class="site-nav__items"><a class="site-nav__link" href="#about">How it’s made?</a></li>
        <li class="site-nav__items"><a class="site-nav__link" href="#products">Our products</a></li>
        <li class="site-nav__items"><a class="site-nav__link" href="#contacts">Contact</a></li>
      </ul>
    </nav>
    <button class="header-buy__button" data-modal-open>Buy now ></button>
  </div>
</header>
