<section class="hero">
  <div class="container hero-block">
    <div class="hero-block__text">
      <div>
        <h1 class="hero-title">
          ice cream <br />
          made with <br />
          <span class="hero-title__word">passion</span>
        </h1>
        <button class="hero-btn"><a class="hero-link_btn" href="#products">Products</a></button>
        <button class="hero-btn hero-btn__white">How it’s made?</button>
      </div>
      <div>
        <ul class="list-group">
          <li class="group selection">
            <span class="hero-title__number">16</span>
            <p class="hero-title__cafes">cafes</p>
          </li>
          <li class="group selection">
            <span class="hero-title__number">23</span>
            <p class="hero-title__cafes">food trucks</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero-lorem">
    <p>
      Lorem ipsum dolor sit amet, <br />
      consectetur adipiscing elit, <br />
      sed do eiusmod tempor <br />
      incididunt ut labore et
    </p>
    <button class="sleder-btn">
        <svg width="26px" height="26px" class="icon-sleder">
          <use  href="./images/svg/icons.svg#icon-arrow-right2"></use>
        </svg>
    </button>
  </div>
    <picture class="hero-img__milk">
      <source
        srcset="./images/img/hero/cupmilk-tab-1x.png 1x, ./images/img/hero/cupmilk-tab-2x.png 2x"
        media="(min-width:734px) and (max-width:1275px)" 
      />
      <source
        srcset="./images/img/hero/cupmilk-desk-1x.png 1x, ./images/img/hero/cupmilk-desk-2x.png 2x"
        media="(min-width:1275)"
      />
      <img src="./images/img/hero/cupmilk-desk-1x.png" alt="графин с молоком" />
    </picture>

    <picture class="hero-img__girl">
      <source
        srcset="./images/img/hero/herogirl-tab-1x.png 1x, ./images/img/hero/herogirl-tab-2x.png 2x"
        media="(min-width:734px)and (max-width:1275px)"
      />
      <source
        srcset="
        ./images/img/hero/herogirl-desk-1x.png 1x,
        ./images/img/hero/herogirl-desk-2x.png 2x"
        media="(min-width:1275px)"
      />
      <img src="./images/img/hero/herogirl-desk-1x.png" alt="девушка с мороженным" />
    </picture>

    <div class="circuls"></div>
    <picture class="hero-img__cream">
      <source
        srcset="
          ./images/img/hero/herocream-mob-1x.png 1x,
          ./images/img/hero/herocream-mob-2x.png 2x
        "
        media="(min-width:320px) and (max-width:734px)"
      />
      <source
        srcset="
          ./images/img/hero/herocream-tab-1x.png 1x,
          ./images/img/hero/herocream-tab-2x.png 2x
        "
        media="(min-width:734px) and (max-width:1275px)" 
      />
      <source
      srcset="
        ./images/img/hero/herocream-desk-1x.png 1x,
        ./images/img/hero/herocream-desk-2x.png 2x
      "
      media="(min-width:1275px)"
    />
      <img src="./images/img/hero/herocream-desk-1x.png" alt="рожок мороженного" />
    </picture>
  </div>
</section>
