.backdrop {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 250ms, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    width: 320px;
    padding: 60px 30px;
    transform: translate(-50%, -50%) scale(1);
    background-color: $background-color-4;
    background-image: url(../images/img/products/icecream-png-2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 24px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.8);
    }

    @include tab {
        width: 500px;
        padding: 40px;
    }

    @include desk {
        width: 600px;
    }
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #ffffff;
    border-radius: 50%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #ecebeb;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
}

.close-btn__icon {
    fill: $primary-color-text;
}

.modal__title {
    @include font(24px, 400, 1.15, 0.04em);
    font-family: 'Titan One';
    text-align: start;
    text-transform: uppercase;
    color: $primary-color-text;
    margin-bottom: 20px;
    @include tab {
        font-size: 32px;
    }
}

.modal-text {
    @include font(18px, 400, 1.17, 0.04em);
    font-family: 'Titan One';
    text-align: start;
    text-transform: uppercase;
    color: $second-color-text;
   
    @include tab {
        font-size: 22;
    }
}

.modal-form__field {
    margin-bottom: 20px;
}

.modal-form__label {
    display: block;
    @include font(14px, 500, 1.66, 0.04em);
    font-family: 'DM Sans';
    color: $second-color-text;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form__input:hover &,
    .modal-form__input:focus & {
        color: $primary-color-text;
    }
}

.modal-form__input-wrap {
    position: relative;
}

.modal-form__input {
    width: 100%;
    height: 40px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-width: 1px;
    border-color: $second-color-text;
    outline: none;
    padding-left: 10px;

    transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-bottom: 1px solid $primary-color-text;
    }
}

.submit-btn {
display: inline-block;
padding: 7px 14px;
@include font(14px, 400, 1.25, 0.04em);
font-family: 'DM Sans';
text-align: center;
color: $white-color;
border-radius: 20px;
background-color: rgba(212, 20, 67, 1);
margin-bottom: 20px;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    background-color: rgba(199, 19, 62, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
}