.contacts {
  background-image: linear-gradient(
    $white-color,
    $white-color 25%,
    rgba(255, 245, 246, 1) 26%,
    rgba(255, 245, 246, 1) 100%
  );

  padding-top: 24px;
  padding-bottom: 24px;

  @include tab {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include desk {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.visually-hidden {
  display: none;
}

.contacts-card-list {
  @include tab {
    display: flex;

    margin-left: -16px;
  }

  @include desk {
    margin-left: -30px;
  }
}

.contacts-card {
  width: 280px;
  padding: 40px 32px;
  background-color: $white-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  &:not(:last-child) {
    @media screen and (max-width: 733px) {
      margin-bottom: 20px;
    }
  }

  &:nth-child(3) {
    @media screen and (max-width: 733px) {
      margin-bottom: 32px;
    }
  }

  @include tab {
    width: 224px;

    margin-left: 16px;
    margin-bottom: 0px;
  }

  @include desk {
    width: 395px;

    margin-left: 30px;
  }
}

.contacts-card-name {
  background-color: $background-color-2;
  color: $white-color;
  width: 80px;
  height: 16px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;

  border-radius: 4px;

  @include tab {
    font-size: 16px;
    line-height: 1.86;

    width: 73px;
    height: 28px;
  }
}

.contacts-card-name-la {
  background-color: $background-color-3;
  color: $white-color;
  width: 130px;
  height: 16px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;

  border-radius: 4px;

  @include tab {
    font-size: 16px;
    line-height: 1.86;

    width: 138px;
    height: 28px;
  }
}

.contacts-card-city {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 24px;
  margin-top: 20px;

  @include tab {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.contacts-card-town {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;

  @include tab {
    font-size: 14px;
    line-height: 1.86;
  }

  @include desk {
    font-size: 16px;
    line-height: 1.86;
  }
}

.contacts-card-item {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;

  margin-bottom: 24px;
  margin-top: 8px;
  margin-right: 39px;

  @include tab {
    margin-bottom: 32px;
    margin-top: 12px;
    margin-right: 15px;

    font-size: 14px;
    line-height: 1.66;
  }

  @include desk {
    margin-right: 79px;

    font-size: 16px;
    line-height: 1.83;
  }
}

.contacts-card-time {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 24px;

  @include tab {
    margin-bottom: 32px;
  }
}

.contacts-card-day {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;

  @include tab {
    font-size: 14px;
    line-height: 1.86;
  }

  @include desk {
    font-size: 16px;
    line-height: 1.86;
  }
}

.contacts-card-hours {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ffa5ba;
  &:not(:last-child) {
    margin-bottom: 8px;

    @include tab {
      margin-bottom: 12px;
    }
  }

  @include tab {
    font-size: 14px;
    line-height: 1.86;
  }

  @include desk {
    font-size: 16px;
    line-height: 1.86;
  }
}

.contacts-card-time-list {
  margin-bottom: 24px;

  @include tab {
    margin-bottom: 32px;
  }

  @include desk {
    font-size: 16px;
    line-height: 1.83;
  }
}

.contacts-card-contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  & > a {
    color: #907e82;
  }

  @include tab {
    font-size: 14px;
    line-height: 1.83;
  }

  @include desk {
    font-size: 16px;
    line-height: 1.83;

    margin-right: 40px;
  }
}

.contacts-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


  @include tab {
    display: flex;
    margin-top: 40px;
    align-self: center;
    justify-content: center;
  }
}

// .contacts-btn {
//     width: 161px;
//     height: 44px;
//     border-radius: 22px;
//     background-color: $primary-color-text;
//     color: $white-color;
//     transition: background-color 250ms cubic-bezier(.4, 0, .2, 1),
//     color 250ms cubic-bezier(.4, 0, .2, 1);

//     &:hover, &:focus {
//         background-color: $white-color;
//         color: $primary-color-text;
//         fill: $primary-color-text;
//         box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
//         outline: none;
//     }

// }

// .contacts-btn-svg {
//     .contacts-btn:hover &,
//     .contacts-btn:focus & {
//         fill: $primary-color-text;
//     }
// }

.contacts-btn-location {
  width: 161px;
  height: 44px;
  border-radius: 22px;
  background-color: $primary-color-text;
  color: $white-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ee0840;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
  @include tab {
    width: 192px;
  }

  @include desk {
    width: 198px;
  }
}

.contacts-btn-franchise {
  width: 161px;
  height: 44px;
  border-radius: 22px;
  background-color: $white-color;
  color: $primary-color-text;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ecebeb;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
  @include tab {
    width: 174px;
  }

  @include desk {
    width: 180px;
  }
}

.contacts-btn-name {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;
  letter-spacing: 0em;
  text-align: center;

  margin-right: 8px;
}

.contacts-list-btn:nth-child(1) {
  @media screen and (max-width: 733px) {
    margin-bottom: 10px;
  }

  @include tab {
    margin-right: 14px;
  }

  @include desk {
    margin-right: 15px;
  }
}
