.customer_reviews {
    padding-top: 80px;
    padding-bottom: 48px;
    background-color:$white-color;
    @media screen and (min-width: 734px) and (max-width: 1274px) {
        padding-bottom: 80px;
    }
    @media screen and (min-width: 1275px) {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.reviews__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    padding-bottom: 15px;
}

.reviews__description-wrapper {
    padding-top: 43px;
    padding-bottom: 17px;
    padding-right: 65px;
    padding-left: 65px;
    margin-bottom: 16px;
    background-color: $grey-background-color;

    @include tab {
        padding-top: 37px;
        padding-bottom: 36px;
        padding-left: 40px;
        padding-right: 40px;
    }

    @include desk {
        padding-top: 47px;
        padding-bottom: 30px;
        padding-left: 140px;
        padding-right: 140px;
    }
}

.reviews__description {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;

    background-color:$grey-background-color;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 255%;
    text-align: center;
    color:$text-color;
    z-index: 1;

    background-image: repeating-linear-gradient(
        to bottom, 
        $grey-background-color, 
        $grey-background-color 28px, 
        $dark-grey-color 28px,
        $dark-grey-color 30px
        );

    @include tab {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 14px;
        line-height: 216%;
        letter-spacing: 0.04em;
    }

    @include desk {
        padding-right: 105px;
        padding-left: 105px;
        font-size: 16px;
        line-height: 186%;
    }
}

.reviews__description::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -12px;

    background-image: url(../images/svg/quotes.svg);
    background-size: 54px 40px;
    fill: #E1E1E1;
    height: 54px;
    width: 60px;
    display: block;
    background-position: 50%;
    background-repeat: no-repeat;
    z-index: -1;

    @include tab {
        top: -22px;
        left: 10px;
    }

    @include desk {
        left: 68px;
    }
}

.reviews__who {
    margin: 0;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.85;
    text-align: center;
    color:$text-color;
    @media screen and (min-width: 734px) and (max-width: 1274px) {
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.04em;
    }
    @media screen and (min-width: 1275px) {
        font-size: 20px;
        line-height: 1.85;
    }
}


// .reviews__who::before {
//     content: "";
//     display: block;
//     background-image: url(../images/svg/points.svg);
//     background-size: 32px 4px;
//     margin: 0 auto 15px;
//     width: 32px;
//     height: 4px;
// }

// .slider {
//     // width: 6%;
//     // margin: 100px auto;
// }

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out 0.3s;
    opacity: 0.2;
}

.slick-active {
    opacity: 0.5;
}

.slick-current {
    opacity: 1;
}

.reviews__who::before {
    content: "";
    display: block;
    background-image: url(../images/svg/points.svg);
    background-size: 32px 4px;
    margin: 0 auto 15px;
    width: 32px;
    height: 4px;
}

