.footer {
    background-color: #FFF5F6;
    @include tel {
        padding-top: 48px;
    }
    @include tab {
        padding-top: 40px;
    }
    @include desk {
        padding-top: 120px;
    }
}
.footer--container{
    @include tab {
        display: flex;
        justify-content: space-between;
        
    }
    @include desk {
        align-items: center;
    }
}
.footer__logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    text-transform: uppercase;
    @include tab {
        font-size: 26px;
        line-height: 1.15;
        letter-spacing: 0.04em;
    }
    @include desk {
    font-size: 30px;
    line-height: 1.13;
    }
    color: $second-color-text;

    @media screen and (max-width: 1274px) {
        width: 234px;
    }
}
.footer__logo-top {

}
.footer__logo-bottom{
    margin-top: 16px;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    @include tab {
        font-size: 48px;
        line-height: 1.14;
        letter-spacing: 0.06em;
    }
    @include desk {
        font-size: 58px;
        line-height: 1.13;
    }
    color: $primary-color-text;
}

.social__list {
    @media screen and (max-width: 733px) {
    margin-top: 40px;
    }
   
    display: flex;
    justify-content: flex-end;
}
.social__item:not(:last-child) {
    margin-right: 28.24px;
}
.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.social__link--footer {
    background-color: $second-color-text;
    color: #ffffff;
    &:hover,
    &:focus {
        color: $second-color-text;
        background-color: $background-color-3;
    }
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .social__icon {
      fill: currentColor;
  }
.footer__text {
    margin-top: 40px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 186%;
    @include tab {
    font-size: 14px;
    }
    @include desk {
font-size: 16px;
letter-spacing: 0.02em;
    }
    
    
    text-align: right;
    
    color: #000000;
}
.footer__tel {
    color: $primary-color-text;
}

.licence{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 152%;
        text-align: center;
    
    color: #907E82;
       
  @media screen and (max-width: 733px) {
      text-align: -webkit-center;
        }
    @include tab {
        line-height: 186%;
       letter-spacing: 0.02em;
        
      
    }
    margin-top: 40px;
    padding-top: 16px;
    padding-bottom: 20px;
    @include tab {
    padding-top: 8px;
    padding-bottom: 8px;
    }

    border-top: 1px solid #E1E1E1;
    
}
.licence__text {
    @media screen and (max-width: 733px) {
        width: 149px;
    }
}
