.gallery {
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    $background-color-4 40%,
    $white-color 40%,
    $white-color 60%
  );
  &-img {
    width: 100%;
  }
}
.gallary__grid {
  display: grid;
  padding: 0 16px;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(12, 0.5fr);
  row-gap: 3px;
  column-gap: 3px;

  @include tab {
    padding: 0 73px;
    row-gap: 5px;
    column-gap: 5px;
  }
  @include desk {
    padding: 0 135px;
    row-gap: 7px;
    column-gap: 7px;
  }
}

.gallary__grid-item {
  &:nth-child(1) {
    grid-column: 1 / 1;
    grid-row: span 12 / span 12;
    align-self: center;
  }
  &:nth-child(2) {
    grid-column: 2 / 2;
    grid-row: 3 / span 4;
  }
  &:nth-child(3) {
    grid-column: 3 / span 2;
    grid-row: 1 / span 8;
  }
  &:nth-child(4) {
    grid-column: 5 / 5;
    grid-row: 4 / span 4;
  }
  &:nth-child(5) {
    grid-column: 6 / 6;
    grid-row: 2 / span 4;
  }
  &:nth-child(6) {
    grid-column: 7 / 7;
    grid-row: span 12 / span 12;
    align-self: center;
  }
  &:nth-child(7) {
    grid-column: 2 / 2;
    grid-row: 7 / span 4;
  }
  &:nth-child(8) {
    grid-column: 3 / 3;
    grid-row: 9 / span 4;
  }
  &:nth-child(9) {
    grid-column: 5 / 5;
    grid-row: 8 / span 4;
  }
  &:nth-child(10) {
    grid-column: 6 / 6;
    grid-row: 6 / span 4;
  }
}

.gallary__grid-item img {
  border-radius: 5px;
  @include tab {
    border-radius: 10px;
  }
  @include desk {
    border-radius: 15px;
  }
}

// .gallary__link {
//   display: flex;
//   max-width: 100%;
//   height: 100%;
//   overflow: hidden;
//   position: relative;
//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus,
//   &:active {
//     background-color: black;
//   }
// }

// .gallary__wrap {
//   position: relative;
//   overflow: hidden;
// }

.gallary__img {
  transform-property: transform;
}

.gallary__grid-item:hover .gallary__img {
  transform: scale(1.5);
  transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
