.header {
  background-color: $background-color-1;
}

.header-container {
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include tab {
    padding-top: 32px;
  }
  @include desk {
    padding-top: 37px;
  }
}
.menu-open-btn {
  position: relative;
  margin-left: auto;
  background-color: inherit;
  & .menu-icon__close {
    display: block;
    position: fixed;
    z-index: 111;
    fill: $white-color;
    top: 20px;
    right: 20px;
    @include tab {
      right: 30px;
      top: 30px;
    }
  }

  & .menu-icon__open {
    display: none;
  }

  &.is-open .menu-icon__close {
    display: none;
  }

  &.is-open .menu-icon__open {
    display: block;
  }
  @include desk {
    display: none;
  }
}
.container-menu {
  display: none;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  margin-left: 35px;
  margin-right: 0px;
  width: 250px;
  height: 100vh;
  background-color: #e17992;
  text-align: start;
  font-size: 20px;
  z-index: 10;
  @include tab {
    margin-left: 240px;
    margin-right: 0;
    width: 258px;
  }

  &.is-open {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.site-nav__mobile-list {
  height: 42px;
  border-top: 1px solid #e18298;
  padding-left: 20px;
  padding-top: 13px;
}
.site-nav__mobile-link {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: $white-color;
  &:hover,
  &:focus {
    color: $primary-color-text;
  }
}

.site-nav {
  display: none;
  @include desk {
    display: flex;
    align-items: center;
  }
}

.site-nav__items {
  z-index: 10;
}
.site-nav__items:not(:last-child) {
  margin-right: 35px;
}
.site-nav__link {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31px;
  color: $white-color;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $primary-color-text;
  }
}
.header-buy__button-menu {
  display: block;
  width: 209px;
  height: 44px;
  border-radius: 22px;
  background-color: $white-color;
  margin-left: auto;
  margin-right: auto;
  margin-top: 58px;
  margin-bottom: 19px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  color: $primary-color-text;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tab {
    width: 184px;
    height: 44px;
  }
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

.header-buy__button {
  display: none;
  @include tab {
    display: block;
    width: 160px;
    height: 44px;
    border-radius: 22px;
    background-color: $white-color;
    margin-left: 32px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    text-align: center;
    color: $primary-color-text;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #ecebeb;
    }
  }
}
