.header {
    background-color: $background-color-1;
}

.header-container{
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tab {
        padding-top: 32px;
    }
    @include desk {
        padding-top: 37px;
    }
    
}
.header-menu__button{
    margin-left: auto;
    background-color: inherit;
    @include desk {
        display: none;
    }

}

.site-nav{
    display: none;
    @include desk{
        display: flex;
        align-items: center;
    }
    
}
.site-nav__items {
    z-index: 10;
}
.site-nav__items:not(:last-child){
    margin-right: 35px;
  
}
.site-nav__link{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31px;
    color: $white-color;
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: $primary-color-text;
    }
}

.header-buy__button{
    display: none;
    @include tab {
        display: block;
        width: 160px;
        height: 44px;
        border-radius: 22px;
        background-color: $white-color;
        margin-left: 32px;
        
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.31;
        text-align: center;
        color: $primary-color-text;
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: #ECEBEB;
        }
        
    }
    
}
