.hero {
    width: 100%;
    overflow: hidden;
    margin-top: -1px;
    background-color: rgba(255, 184, 202, 1);
    @include tab{
    overflow: visible;
    }
    }
    .hero-title {
        
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
    @include tab{
    font-size: 22px;
    }
    
    }
    .hero-title__word {
    color: rgba(212, 20, 67, 1);
    font-size: 48px;
    line-height: 0.95;
    @include tab {
    font-size: 34px;
    }
    }
    
    .hero-btn {
        
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: center;
    color: #FFFFFF;
    border-radius: 20px;
    color: #FFFFFF;  
    background-color: rgba(212, 20, 67, 1);
    height: 24px;
    width: 62.4px;
    margin-right: 8px;
    &:hover, &:focus {
        color: rgba(212, 20, 67, 1);
        background-color: #ffffff;
    }
    }
    .hero-btn__white {
    height: 24px;
    width: 82.8px;
    margin-right: 0;
    color: rgba(212, 20, 67, 1);
    background-color: #ffffff;
    &:hover, &:focus {
        color: #ffffff;
        background-color: rgba(212, 20, 67, 1);
    }
    }
    .hero-block {
    position: relative;
       
    z-index: 9;
    padding-top: 136px;
    padding-bottom: 158px;
    @include tab{
    padding-top: 20px;
    padding-bottom: 51px;
    }

    }
    .hero-block > .circuls {
    position: absolute;
    left: 31px;
    top: 25px;
    border-radius: 50%;
    background-color: rgba(255, 165, 186, 1);
    width: 346px;
    height: 344px;
    z-index: -2;
    @include tab{
        left: 233px;
        top: -36px;
        width: 335px;
        height: 333px;
    }
    }


.hero-img__cream {
    position: absolute;
    left: 117px;
    top: 34px;
    z-index: -1;
    @include tab{
    left: 292px;
    top: -2px;
    }
}

.hero-lorem {
    display: none;
@include tab {
    display: block;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: #FFFFFF;
    margin-top: 61px;
    padding-left: 152px;
  }
}

.hero-img__milk {
    display: none;
    @include tab {
    display: block;
    position: absolute;
    top: 164px;
    }
}
.hero-img__girl {
    display: none;
    @include tab {
    display: block;
    position: absolute;
    top: 184px;
    left: 529px;
    }
}
.hero-img__arrow {
    display: none;
    @include tab {
    display: block;
    margin-top: 7px;
    padding-left: 152px;
    }
}
// .list-group {
//     display: flex;
//     flex-direction: row-reverse;
// }

.hero-title__number{
    display: none;
    @include tab{
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
    display: block;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: $primary-color-text;
    
    }
    
}
.hero-title__cafes{
    display: none;
    @include tab{
        display: block;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 1.25;
        color: $white-color;
    }
}

.hero-block__text{
    display: flex;
    justify-content: space-between;
}

.group:not(:last-child){
margin-bottom: 10px;
}

.list-group {
    margin-right: 7px;
}
.selection {
    position: relative;
    text-align: right;
    @include tab {
&::before {
    content: '';
    position: absolute; 
    display: block;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: -1;
    right: -7px;
    top: -3px;
    }
  }
}
