.hero {
    overflow: hidden;
    margin-top: -1px;
    background-color: rgba(255, 184, 202, 1);
@include tab{
        overflow: visible;
        }
    }

.hero-title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
@include tab{
        height: 80px;
        font-size: 22px;
        }
@include desk {
        height: 137px;
        font-size: 38px;
        margin-bottom: 24px;
        }
    }

.hero-title__word {
    color: rgba(212, 20, 67, 1);
    font-size: 48px;
    line-height: 0.9;
    letter-spacing: 0.04em;
@include tab {
        font-size: 34px;
        }
@include desk {
        font-size: 58px;
        }
    }
    
.hero-btn {
    display: inline-block;
    padding-top: 7px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: center;
    color: #FFFFFF;
    border-radius: 20px; 
    background-color: rgba(212, 20, 67, 1);
    height: 24px;
    width: 62.4px;
    margin-right: 8px;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover, &:focus {
        background-color: rgba(199, 19, 62, 1);
    }
@include desk {
        padding-top: 11px;
        height: 40px;
        width: 107px; 
        font-size: 14px;
        }
    }

.hero-btn__white {
    height: 24px;
    width: 82.8px;
    margin-right: 0;
    color: rgba(212, 20, 67, 1);
    background-color: #ffffff;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        color: rgba(212, 20, 67, 1);
        background-color: rgba(236, 235, 235, 1);
    }
@include desk {
        height: 40px;
        width: 138px; 
        }
    }
        
.hero-block {
  
    position: relative;
    z-index: 5;
    padding-top: 136px;
    padding-bottom: 148px;
@include tab{
        padding-top: 20px;
        padding-bottom: 57px;
        }
@include desk {
    padding-top: 20px;
    padding-bottom: 59px;
        }
    }
.hero-block > .circuls {
    position: absolute;
    left: 31px;
    top: 25px;
    border-radius: 50%;
    background-color: rgba(255, 165, 186, 1);
    width: 346px;
    height: 344px;
    z-index: -2;
@include tab{
    left: 233px;
    top: -36px;
    width: 335px;
    height: 333px;
    }
@include desk {
    width: 534px;
    height: 534px;
    left: 517px;
    top: -33px;
    }
}

.hero-img__cream {
    position: absolute;
    left: 117px;
    top: 36px;
    z-index: -1;
    animation: animate-cream 4000ms 1 cubic-bezier(0.4, 0, 0.2, 1);
@keyframes animate-cream {
    0% {
    transform: scale(0.5);
    }
    100% {
    transform: scale(1);
    }
    }
@include tab{
    left: 292px;
    top: 2px;
    }
@include desk {
    left: 636px;
    top: 21px;
    }
}

.hero-lorem {
        display: none;
@include tab {
        display: block;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 1.5;
        color: #FFFFFF;
        margin-top: 61px;
        padding-left: 152px;
    }
@include desk {
        font-size: 14px;
        margin-top: 108px;
        padding-left: 213px;
     }
}

.hero-img__milk {
        display: none;
@include tab {
        animation: animate-milk 3500ms  cubic-bezier(0.4, 0, 0.2, 1);
@keyframes animate-milk {
            0% {
                transform: perspective(400px) rotateY(0deg);
            }
            50% {
                transform: perspective(400px) rotateY(-40deg);
            }
            75% {
                transform: perspective(400px) rotateY(40deg);
            }
            100% {
                transform: perspective(400px) rotateY(0deg);
            }
            }
        display: block;
        position: absolute;
        top: 164px;
    }
@include desk {
        top: 301px;
    }
}
.hero-img__girl {
    display: none;
@include tab {
        animation: animateY110 2500ms 1 100ms;
        
@keyframes animateY110 {
        0% {
            transform: translateX(200px);
        }
        100% {
            transform: translateX(0);
        }
        }
        display: block;
        position: absolute;
        right: 15px;
        bottom: 0;
    }
}
.hero-img__arrow {
    display: none;
    @include tab {
        display: block;
        margin-top: 7px;
        padding-left: 152px;
    }
    @include desk {
        margin-top: 20px;
        padding-left: 213px;
    }
}

.hero-title__number{
          display: none;
@include tab{
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        display: block;
        font-size: 28px;
        line-height: 1.14;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $primary-color-text;
    }
@include desk {
        font-size: 46px;
    }
}
.hero-title__cafes{
    display: none;
@include tab{
        display: block;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 1.25;
        color: $white-color;
    }
@include desk {
        font-size: 14px;
    }
}

.hero-block__text{
@include tab {
        display: flex;
        justify-content: space-between;
    }
@include desk {
        padding-top: 60px;
    }
}

.group:not(:last-child){
    margin-bottom: 10px;
    }

.list-group {
@include tab {
    margin-right: 7px;
    }
@include desk {
        margin-right: 19px;
    }
}

.selection {
    position: relative;
    text-align: right;
&::before {
@include tab {
        content: '';
        position: absolute; 
        display: block;
        width: 16px;
        height: 16px;
        background-color: #ffffff;
        border-radius: 50%;
        z-index: -1;
        right: -6px;
        top: -3px;
    }
@include desk {
        width: 30px;
        height: 30px; 
        right: -19px; 
    }
  }
}

.sleder-btn {
    background-color: #ffffff;
    margin-top: 7px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
@include desk {
        margin-top: 20px;
        width: 26px;
        height: 26px;
    }
&:hover, &:focus {
        background-color: rgba(236, 235, 235, 1);   
    }
}

.icon-sleder {
    fill: rgba(212, 20, 67, 1);
@include desk {  
    width: 11px;
    height: 10px;
    }
}
